# Environment variables
.env
# Dependency directories
node_modules/

# Compiled output
dist/
!dist/.gitkeep
dist/**/*.gitignore

# Application data
data/images/

# ========================
# Session handling
# ========================

# ignore ทั้งหมดใน session
data/session/*

# แต่ allow ไฟล์ที่ต้องการ
!data/session/session-okvip-s1_*.txt
!data/session/session-okvip-ss1_*.txt

# ========================



# IDE and editor files
.vscode/
.idea/
*.code-workspace

# Temporary files and logs
*.log
*.tmp

# macOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db

# Lock files
yarn.lock
package-lock.json
